NEON_DATABASE_URL=postgresql://user:password@host/db?sslmode=require&channel_binding=require

HUB_JWT_PUBLIC_KEY_PEM="-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA3Nkd9pRnCfFDTTbMozKW\nLL0eUuEB66191RGcdNdIhb69uvKdoGQ63mBtncsxzMEgFH+d6nzA6HnG0ILBiII6\nx3nUm8qQqIi0Yufbc3qY85Mw7G0WlQJIxr0+XuTV3bxig1SU9/0M+07C6HEu724g\nXiVy9SblqgD334Pn6wzZ42ASLDZjpL84P5fr7eerdtIreZqJsd+Doy6g8YuQ7ze2\neT+cZjJxyWKUUDnNYD3QYMGnv822VttUAi/V9cJfR6ZzVnqsAyDbLKzodgDzLkaT\n0sabIpcjP+zpDT8pNHBfd3Fx5aHS2skqYXAVB1nT/cbFjDsledzj13tlrGLRi9WT\nWwIDAQAB\n-----END PUBLIC KEY-----"
HUB_JWT_ISSUER=hub.rotor-platform.com
MODULE_AUDIENCE=report-ai

ANTHROPIC_API_KEY=
BROWSERLESS_TOKEN=
